.item-count__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: brown;
}

.buttons {
    width: 30px;
    font-size: 20px;
    color: white;
    background: rgb(0, 0, 0);
}

.item-count__buttons p{
    font-weight: bold;
}

.buttonAdd{
    font-size: 15px;
    color: white;
    background: rgb(0, 0, 0);
}